#topbar {
  height: 3rem;
  background: #222;
  width: 100%;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #2f2f2f;
  box-shadow: 0px 2px 5px #000;
  z-index: 100;
}
#logo-wrap {
  display: block;
  float: left;
  margin-left: 12px;
  border-top-width: 0;
  border-color: rgba(255,102,0,.75) rgba(255,51,0,.25) rgba(255,17,0,.25);
  background-color: #f50;
  background-image: -webkit-linear-gradient(rgba(255,153,0,.6),rgba(255,102,0,.6) 40%,rgba(255,17,0,.6));
  background-image: linear-gradient(rgba(255,153,0,.6),rgba(255,102,0,.6) 40%,rgba(255,17,0,.6));
  box-shadow: 0 0 2px rgba(255,51,0,.35),inset 0 -1px 3px rgba(255,51,0,.45),0 0 3px rgba(0,0,0,.15),inset 0 1px 0 rgba(102,51,0,.2),inset 0 2px 2px rgba(255,255,255,.25),inset 0 -2px 2px rgba(255,255,255,.2);
}
#logo {
  width: 85px;
  height: 3rem;
  background: url("../images/logo-white.png") no-repeat center center;
  text-indent: -9999px;
  float: left;
  background-size: 55px;
}
#profile {
  float: right;
  line-height: 3rem;
  margin-right: 2rem;
  img {
    height: 2rem;
    border-radius: 50%;
  }
  span {
    margin-left: .6rem;
    color: #999;
  }
}