
// External
script(src='http://connect.soundcloud.com/sdk.js')
script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
script(src='http://underscorejs.org/underscore-min.js')

// Internal
script(src='app/javascripts/config.js')

script(src='app/javascripts/helpers/cookies.js')
script(src='app/javascripts/helpers/artworkUrl.js')
script(src='app/javascripts/helpers/formatNumber.js')
script(src='app/javascripts/helpers/formatTime.js')

script(src='app/javascripts/libraries/react.js')
script(src='app/javascripts/libraries/backbone.js')
script(src='app/javascripts/libraries/backbonePouch.js')
script(src='app/javascripts/libraries/traceurRuntime.js')
script(src='app/javascripts/libraries/waveform.js')
script(src='app/javascripts/libraries/dragDealer.js')

script(src='app/javascripts/build/classes.js')
script(src='app/javascripts/build/models.js')
script(src='app/javascripts/build/collections.js')
script(src='app/javascripts/build/components.js')
script(src='app/javascripts/build/views.js')